*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
}

.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: linear-gradient(to bottom, #13457A, #80D0C7);
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

header h1 {
    color: rgb(225, 225, 225);
    font-size: 2rem;
    font-weight: 300;
    text-align: center;
    margin-bottom: 2rem;
}

header input {
    width: 100%;
    max-width: 20rem;
    outline: none;
    padding: 0.5rem;
    border: none;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 1rem 0;
    color: rgba(0 ,0, 0, 0.5);
    border-bottom: 0.2rem solid rgba(0, 0, 0, 0.2); 
}

header input:focus {
    background-color: rgba(255, 255, 255, 0.65); 
    border-bottom: 0.2rem solid rgba(225, 225, 225, 0.5);
}

main {
    flex: 1 1 100%;
    margin: 0.5rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.location .city {
    font-size: 2rem;
    color: rgb(255, 255, 255);
    font-weight: 500;
}

.location .date {
    font-size: 1rem;
    color: rgb(255, 255, 255);
}

.current .temp {
    font-size: 6rem;
    font-weight: 800;
    color: rgb(255, 255, 255);
    text-shadow: 0.1rem 0.5rem rgba(0, 0, 0, 0.5);
    margin-top: 1rem;
    margin-bottom: 0rem;
}

.current .temp span {
    font-weight: 500;
    font-size: 6rem;
}

.current .hi-low {
    font-size: 1.2rem;
    font-weight: 400;
    color: rgb(255, 255, 255);
}

.current .description {
    font-size: 2rem;
    color: rgb(255, 255, 255);
    font-weight: 600;
    text-shadow: 0.1rem 0.2rem rgba(0, 0, 0, 0.3);
    margin-top: 1rem;
}

.current .feels-like {
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    font-weight: 400;
    margin: 0.3rem auto;
}

.current .fahrenheit {
    margin-top: 8rem;
    color: rgba(225, 225, 225, 0.7);
    display: none;
}

.current .celcius {
    margin-top: 8rem;
    color: rgba(225, 225, 225, 0.7);
    display: none;
}

.current .fahrenheit:hover {
    color: rgb(225, 225, 225);
    text-decoration: underline;
}

.current .celcius:hover {
    color: rgb(225, 225, 225);
    text-decoration: underline;
}

footer {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    height: 50px;
    padding: 1rem 1.5rem;
    color: rgb(255, 255, 255);
}